<!DOCTYPE HTML>
<html>
<head>
	@await Html.PartialAsync("_MetaPartial")
	@await Html.PartialAsync("_CssPartial")
</head>
<body class="left-sidebar is-preload">
	<div id="page-wrapper">
		@await Html.PartialAsync("_HeaderPartial")
		
							@RenderBody()

        @await Html.PartialAsync("_FooterPartial")
	</div>
    @await Html.PartialAsync("_ScriptsPartial")	
</body>
</html>