
@{
}
<div class="col-4 col-12-medium">
	<div id="sidebar">
		<section>
			<header class="major">
				<h2>Добро пожаловать</h2>
			</header>
			<p>
				Мы кто-то
				там
				кто-то
				там!
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					К услугам
				</a>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Скибиди
				</a>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
				Скибиди
				</a>
			</footer>
		</section>
	</div>
</div>