@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт компании "UNKNOWN"</h2>
				<p>
					Экскурсии
				</p>
			</header>
			<span class = "image feautered"> <img src="~/img/bg04.png" alt="welcome"/>	</span>
			</article>

	</div>
</div>
