@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();

}
<div id="header-wrapper">
	<div class="container">

		<header id="header">
			<div class="inner">

				<h1>
					<a asp-area="" asp-controller="" asp-action="Index" id="logo">
					@appConfig?.Company.CompanyName
				</a>
					<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
						К услугам
					</a>
				</h1>
				@* TODO: ViewComponent *@

			</div>
		</header>

	</div>
</div>
